<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.asteros.HelloKext</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleExecutable</key>
	<string>HelloKext</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>1.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>1.0</string>
		<key>com.apple.kpi.mach</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>1.0</string>
	</dict>
	<key>IOKitPersonalities</key>
	<dict>
		<key>com.asteros.HelloKext</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.asteros.HelloKext</string>
			<key>IOClass</key>
			<string>com_asteros_HelloKext</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOMatchCategory</key>
			<string>com_asteros_HelloKext</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
		</dict>
	</dict>
</dict>
</plist>
